h1, h2, h4 {color:darkmagenta;}
.example-element{background-color: aqua; 
width: 560px;
    border: 10px solid brown;
    height: 300px;
font-family: cursive;
    font-size: 20px;
    
padding: 105px;
}

{background-color: grey;}

.Border{
background-color: aqua; 
width: 250px;
    border: 10px solid brown;
    height: 350px;
font-family: cursive;
    font-size: 20px;
    
padding: 105px;
}

.border2{
   background-color: aqua; 
width: 560px;
    border: 10px solid brown;
    height: 300px;
font-family: cursive;
    font-size: 20px;
    
padding: 105px;
}

.topnav {
    background-color: blanchedalmond;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#rcorners1 {
    border-radius: 15px 50px 30px 5px;
    background: yellow;
    padding: 20px;
    width: 200px;
    height: 150px;
    color: 
}

#bordering {
    border: 100px solid transparent;
    padding: 150px;
    border-image: url(images/Monkey.jpg);
    font-size: 
}

img{
    width: 250px;
    height: 375px
}

a.button1{
    display:inline-block;
    padding: 10px 10px;
    border: 2px solid green;
    margin: 0px 10px 10px 0px;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    color: green;
    text-align: center;
    transition: all 0.5s;
}

a.button1:hover{
    color: white;
    background-color: white;
}